
.carousel-container {
    margin: auto;
    
    width: 64%;

    display: flex;
    justify-content: center;
}

@media (max-width: 740px){
    .carousel-container{
        width: 96%;
        margin-bottom: 80px;
        margin-top: 80px;
    }
}