

.container-carousel {
    margin: auto;
    margin-bottom: 25px;

    display: flex;
    justify-content: center;
}

.container-img {
    border-radius: 10px;
}

.carousel-caption > h3{
    margin-top: 25px;
}