<div class="container">

  <carousel class="container-carousel">

      <slide class="container-slide">
        <img class="container-img" src="../../../assets/images/imgStudy3.png" alt="first slide" style="display: block; width: 700px; height: 400px;">
      </slide>

      <slide class="container-slide">
        <img class="container-img" src="../../../assets/images/atvd8.jpeg" alt="second slide" style="display: block; width: 700px; height: 400px;">
      </slide>

      <slide class="container-slide">
        <img class="container-img" src="../../../assets/images/atvd5.jpeg" alt="third slide" style="display: block; width: 700px; height: 400px;">
      </slide>
      
      <slide class="container-slide">
        <img class="container-img" src="../../../assets/images/atvd9.jpeg" alt="third slide" style="display: block; width: 700px; height: 400px;">
      </slide>

    </carousel>
</div>