.container__location{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #309CC7;
}

.container__location > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__location > p{
    margin-bottom: 20px;
}

.card-maps{
    width: 100%;
}