<div class="container__footer">
    <div class="container-title">
        <h1>Pequeno Gênio</h1>
        <p>Copy Righr kidszone 2023</p>
    </div>

    <div class="container-info">
        <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Whatsapp</a></li>
        </ul>
    </div>

    <div class="container-social">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <a class="devicon-github-original" href="https://github.com/felipebrenno0"></a>
        <a class="devicon-android-plain" href="#"></a>
          
    </div>
</div>
