<div class="container__footer">

    <div class="container-info">
        <ul>
            <li><a [routerLink]="['/about']">Sobre</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="https://contate.me/reforcopequenogenio">Whatsapp</a></li>
        </ul>
    </div>

    <div class="container-social">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <a class="devicon-github-original" href="https://github.com/felipebrenno0"></a>
        <a class="devicon-android-plain" href="#"></a>
          
    </div>
</div>
