<div class="container__card-values">
    <div class="card-title">
        <h3>Reforço Pequeno Gênio</h3>
        <h1> {{title}} </h1>
        <p> Valor para alunos {{description}} </p>
    </div>

    <div class="card-values">
      <!--   <h1>R$ 105,00</h1> -->
        <h1> {{prices}},00 </h1>
        <p>/mês</p>
    </div>

    <div class="card-info">
        <p>Valor equivalente a 2 horas aula</p>
    </div>
    <a href= "https://api.whatsapp.com/send?phone=5585987841708&text={{message}}"><button>Matricula</button></a>
    
</div>
