<div class="container__value-card">
    <app-value-card
    title="Educação Infantil"
    description="que estudam desde educação infantil até o fundamental I"
    [prices]="120"
    message="*Oi tia Nova.* desejo saber mais sobre vagas para educação infantil e fundamental I"
    >
    </app-value-card>

    <app-value-card
    title="Fundamental II"
    description="que estudam fundamental II em diante"
    [prices]="140"
    message="*Oi tia Nova.* Quero realizar uma matricula"
    >
    </app-value-card>

    <app-value-card
    title="Aulas no Sábado"
    description="que desejam ter aulas extras nos finais de semana"
    [prices]="150"
    message="*Oi tia Nova.* 
    Quero saber mais a respeito das aulas no sábado"
    >
    </app-value-card> 
</div>

