<div class="container__value-card">
    <app-value-card
    title="Educação Infantil"
    description="que estudam desde educação infantil até o fundamentel I"
    [prices]="105"
    >
    </app-value-card>

    <app-value-card
    title="Fundamental II"
    description="que estudam fundamental II em diante"
    [prices]="130"
    >
    </app-value-card>

    <app-value-card
    title="Aulas no Sábado"
    description="que desejam ter aulas extras nos finais de semana"
    [prices]="105"
    >
    </app-value-card> 
</div>

