<div class="container__value-card">
    <app-value-card
    title="Educação Infantil"
    description="Para alunos da educação infantil e fundamental I"
    [prices]="105"
    >
    </app-value-card>

    <app-value-card
    title="Fundamental II"
    description="Para alunos da educação infantil e fundamental I"
    [prices]="130"
    >
    </app-value-card>

    <app-value-card
    title="Aulas no Sábado"
    description="Para alunos da educação infantil e fundamental I"
    [prices]="105"
    >
    </app-value-card> 
</div>

