@media (max-width: 1200px) {
    .main-card > h1{
        font-size: 2.8rem;
    }

    .main-card > p{
        width: 70%;
    }
}

@media (max-width: 768px){
    .main-card > p{
        width: 90%;
    }
}

@media (max-width: 576px) {
    .container__main-card{
        height: 13rem;
    }

    .main-card{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 1rem;
        margin-top: 0;
    }

    .main-card > h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .main-card > p{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main-card > h1{
        font-size: 1.7rem;
    }
}