<div>
    <nav class="container__menu-bar" [class.transparentClass]="menuVariable">
        <div class="mobile-menu" (click)="toggleMenu()" *ngIf="menuVisible">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <div class="mobile-nav-overly" *ngIf="menuVariable">
            <div class="mobile-menu-close" (click)="toggleMenu()" >
                <div class="close" *ngIf="menuVariable"></div>
                <div class="close" *ngIf="menuVariable"></div>
            </div>
        </div>

        <ul class="nav-list" [class.menuClass]="menuVariable" >
            <li (click)="closeMenu()"><a href="#inicio">Inicio</a></li>
            <li (click)="closeMenu()"><a href="#location">Localização</a></li>
            <li (click)="closeMenu()"><a [routerLink]="['/utilities']">Utilidades</a></li>
            <li (click)="closeMenu()"><a href="https://contate.me/reforcopequenogenio">Contato</a></li>
            <li (click)="closeMenu()"><a [routerLink]="['/about']">Sobre</a></li>
        </ul>
    </nav>
</div>