*{
    margin: 0;
    padding: 0;
}


.container__menu-bar{
    background-color: #309CC7;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: #309CC7;
}

.nav-list li{
    list-style: none;
    margin: 8px 15px;
    transition: 0.25s;
}

.nav-list li > a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    opacity: 1;
}

.mobile-menu{
    cursor: pointer;
    display: none;
    margin-right: 0.5rem;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.mobile-nav-overly{
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(19, 39, 57, 0.8);
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mobile-menu-close{
    cursor: pointer;
    margin: 0.7rem 0.5rem;
}

.close{
    width: 25px;
    height: 4px;
    background: #dedddd;
    border-radius: 10px;
    margin: 8px; 
}

.close:first-child {
    transform: rotate(45deg) translate(0px, 8px);
  }
  
.close:last-child {
    transform: rotate(-45deg) translate(0px, -8px);
  }

@media (max-width: 740px){

    .container__menu-bar{
        justify-content: flex-end;
        position: fixed;
        z-index: 9999;
    }

    .transparentClass{
        background-color: transparent;
    }
    
    .nav-list{
        position: fixed;
        z-index: 9999;
        top: 0vh;
        left: 0;
        width: 70vw;
        height: 100vh;
        background:  #309CC7;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translateX(-100%);
        transition: transform 0.4s ;
        
    }

    .menuClass{
        transform: translateX(0);
    }

    .nav-list li{
        margin: 2rem 0rem;
    }

    .mobile-menu{
        display: block;
        opacity: 0.8;
        transform: translate(0);
    }

}