*{
    background-color: #ffffff;
    padding: 0;
}

.container__main-information{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 230px;
}

.container__main-information > h1{
    color: #161E43;
    font-size: 55px;
    width: 55%;
    height: 90%;
    margin: 25px 0px 27px 25px;
}

.information-list{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.information-list > p{
    color: #999CA3;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 45px 0px 18px 22px;
}

.container-topic{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: center;
}

.container-topic-child{
    margin: 10px;

}



.container-topic-child > ul > li{
    color: #161E43;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;
} 