<div class="container__main">
    
    <div class="container__main-information">
        <h1>Educando e preparando crianças a mais de 22 anos</h1>
    </div>
    
    <div class="information-list">
        <p>Realize a matricula agora e faça de seu filho um pequeno gênio.</p>
        
        <div class="container-topic">
            <div class="container-topic-child">
                <ul>
                    <li>Reforço Escolar</li>
                    <li>Preparação para concurso</li>
                </ul>
            </div>
    
            <div class="container-topic-child">
                <ul>
                    <li>Ensino Personalizado</li>
                    <li>Preparação para colegio militar</li>
                </ul>
            </div>
        </div>
         
    </div>

</div>

